* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */

}

/* body { 
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    /* justify-content: center;
    align-items:center; */

.main {
    position: relative;
    background-color: blue;
    height: 50px;
    width: 100%;
}

.loadBar {
    position: absolute;
    background-color: yellow;
    /* background-color: yellow; */
    /* display: flex; */
    animation-name: bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.percent {
    position: absolute;
    /* background-color: red; */
    left: 50%;
    top: 15px;

    /* border: 2px solid blueviolet; */
}

.percent::before {
    content: '';

    animation-name: percent;
    animation-duration: 5s;

    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes bar {
    from {
        height: 50px;
        width: 0%;
        background-color: red;
    }

    to {
        height: 50px;
        width: 100%;
        background-color: green;
    }

}

@keyframes percent {
    0% {
        content: "0%";
    }
    5% {
        content: "5%";
    }
    10% {
        content: "10%";
    }

    15% {
        content: "15%";
    }

    20% {
        content: "20%";
    }

    25% {
        content: "25%";
    }

    30% {
        content: "30%";
    }

    35% {
        content: "35%";
    }
    40% {
        content: "40%";
    }
    45% {
        content: "45%";
    }
    50% {
        content: "50%";
    }
    55% {
        content: "55%";
    }
    60% {
        content: "60%";
    }
    65% {
        content: "65%";
    }
    70% {
        content: "70%";
    }
    75% {
        content: "75%";
    }
    80% {
        content: "80%";
    }
    85% {
        content: "85%";
    }
    90% {
        content: "90%";
    }
    95% {
        content: "95%";
    }
    100% {
        content: "100%";
    }
}